<!-- 官方库的语言种类目前有189种
        1c、abnf、accesslog、actionscript、ada、angelscript、apache、applescript、arcade、arduino、armasm、asciidoc、
        aspectj、autohotkey、autoit、avrasm、awk、axapta、bash、basic、bnf、brainfuck、c-like、c、cal、capnproto、ceylon、
        clean、clojure-repl、clojure、cmake、coffeescript、coq、cos、cpp、crmsh、crystal、csharp、csp、css、d、dart、delphi、
        diff、django、dns、dockerfile、dos、dsconfig、dts、dust、ebnf、elixir、elm、erb、erlang-repl、erlang、excel、fix、flix、
        fortran、fsharp、gams、gauss、gcode、gherkin、glsl、gml、go、golo、gradle、groovy、haml、handlebars、haskell、haxe、hsp、
        htmlbars、http、hy、inform7、ini、irpf90、isbl、java、javascript、jboss-cli、json、julia-repl、julia、kotlin、lasso、latex、
        ldif、leaf、less、lisp、livecodeserver、livescript、llvm、lsl、lua、makefile、markdown、mathematica、matlab、maxima、mel、
        mercury、mipsasm、mizar、mojolicious、monkey、moonscript、n1ql、nginx、nim、nix、nsis、objectivec、ocaml、openscad、oxygene、
        parser3、perl、pf、pgsql、php-template、php、plaintext、pony、powershell、processing、profile、prolog、properties、protobuf、
        puppet、purebasic、python-repl、python、q、qml、r、reasonml、rib、roboconf、routeros、rsl、ruby、ruleslanguage、rust、sas、scala、
        scheme、scilab、scss、shell、smali、smalltalk、sml、sqf、sql、stan、stata、step21、stylus、subunit、swift、taggerscript、tap、tcl、
        thrift、tp、twig、typescript、vala、vbnet、vbscript-html、vbscript、verilog、vhdl、vim、x86asm、xl、xml、xquery、yaml、zephir -->
<script src="https://cdn.staticfile.org/highlight.js/10.0.0/highlight.min.js"></script>

<script>
    var thisCodes = new Set();
    var codes = document.querySelectorAll("pre > code");
    for (var i = 0, len = codes.length; i < len; i++) {
        thisCodes.add(codes[i].className.slice(9));  //language-python
    }
    console.log(thisCodes);

    if (thisCodes.size) {
        var src = 'https://cdn.staticfile.org/highlight.js/10.0.0/highlight.min.js';
        console.log(src);
        var s = document.createElement('script');
        s.src = src;
        document.head.appendChild(s);

        thisCodes.forEach((i) => {
            src = 'https://cdn.staticfile.org/highlight.js/10.0.0/languages/' + i + '.min.js';
            console.log(src);
            s = document.createElement('script');
            s.src = src;
            document.head.appendChild(s);
        });

        codes.forEach((i) => {
            hljs.highlightBlock(i);
        });
    }

</script>