<!DOCTYPE html>
<html lang="zh-CN" th:fragment="html (title,head,content)">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1" />
    <meta property="og:site_name" th:attr="content= ${site.title}">
    <link rel="icon" th:href="@{${site.logo}}" sizes="192x192" />
    <link rel="stylesheet" th:href="@{/assets/css/kico.css?v={version}(version=${theme.spec.version})}" />
    <link rel="stylesheet" th:href="@{/assets/css/hingle.css?v={version}(version=${theme.spec.version})}" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <th:block th:if="${theme.config.genernal.background} != null">
        <style th:inline="css">
            body:before {
                content: '';
                background-image: url(/*[[${theme.config.genernal.background}]]*/)
            }
        </style>
    </th:block>

    <script th:inline="javascript">
        var isPost = false;
        //获取主题配置
        var ThemeConfig = {};
        ThemeConfig['night'] = /*[[${theme.config.genernal.night}]]*/;
        ThemeConfig['copyright'] = /*[[${theme.config.genernal.copyright}]]*/;
    </script>

    <th:block th:if="${head != null}">
        <th:block th:replace="${head}" />
    </th:block>

</head>

<body>

    <th:block th:replace="~{module/header}" />

    <th:block th:replace="${content}" />

    <th:block th:replace="~{module/footer}" />

</body>
</html>
