<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
    th:replace="~{module/macro :: html(title = '相册' -  ${site.title}, head=~{::head}, content = ~{::content})}">

<th:block th:fragment="head">

    <link rel="stylesheet" th:href="@{/assets/css/photos_style.css}">
    </th>
</th:block>

<th:block th:fragment="content">
    <main>
        <div class="wrap min">
            <section class="home-title">
                <h1>相册</h1>
            </section>

            <section class="post-content">
                <th:block th:each="group : ${groups}">
                    <h2 class="photos-team" th:text="${group.spec.displayName}"></h2>
                    <div class="item" th:each="photo : ${group.photos}">
                        <img th:src="${photo.spec.url}" th:alt="${photo.spec.displayName}">
                    </div>
                </th:block>
            </section>

            <!-- 分页 -->
            <section class="page-navigator">
                <a th:if="${photos.hasPrevious()}" class="extend prev" rel="prev" th:href="@{${photos.prevUrl}}">«</a>
                <span class="page-number current" th:text="${photos.page}"></span>
                <a th:if="${photos.hasNext()}" class="extend next" rel="next" th:href="@{${photos.nextUrl}}">»</a>
            </section>

        </div>

    </main>
</th:block>

</html>