<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
    th:replace="~{module/macro :: html(title = '标签列表' + ${site.title}, head = null, content = ~{::content})}">

    <th:block th:fragment="content">

        <main>
            <div class="wrap min">
                <section class="page-title">
                    <h1>标签</h1>
                </section>

                <section class="post-content">

                    <th:block th:if="${not #lists.isEmpty(tags)}">
                        <li th:each="tag : ${tags}"><a th:text="${tag.spec.displayName}" th:href="${tag.status.permalink}"></a></li>
                    </th:block>
                </section>
            </div>
        </main>

    </th:block>

</html>